.center-stuff {
  text-align: center;
}

.heading-margin {
  margin-top: 0;
  margin-bottom: 0;
}
li {
  font-size: 1.2em;
}
.large-para-text p {
  font-size: 1.4em;
}
.img-responsive {
  margin: 0 auto;
}
ol {
    list-style-position: inside;
}
#epicodus {
    text-shadow: .7px .7px .7px #3a50a2;
    color: #585351;
}
.float-left {
  float: left;
}
.glyphicon {
  padding-right: 10px;
}
.container {
  font-family: 'Poiret One', cursive;
}
